/*Component App*/
.container {
  margin: 100px 140px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.text {
  text-align: center;
  font-size: 45px;
  margin-top: 40px;
}
/*Component Comment*/
h4 {
  color: #979595;

  /* color: #c9cccf; */
  margin-bottom: 10px;
}
.box {
  margin: 25px;
  width: 300px;
  min-height: 200px;
  background-color: #c9cccf;
  padding: 20px;
  border-radius: 15px;
  transition: all 0.5s;
}
.box:hover {
  transform: scale(1.1);
}
